* {
    border:        none;
    border-radius: 0;
    font-family:   "Iosevka";
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    padding: 3px;
}

window#waybar {
    color: #c8d3f5;
    background-color: #222436;
    border-bottom: 4px solid #1a1b26;
}

window#waybar.solo {
    color: #c8d3f5;
    background-color: #222436;
}

window#waybar.empty #window {  
    background:none;  
}

#workspaces {
    margin: 3px 1px 3px 3px;
    border-bottom: solid 2px #2c2f45;
    border-radius: 5px;
    border-top: solid 2px #222436;
    padding: 0 0px;
}

#workspaces button {
    color: #7aa2f7;
}

#workspaces button.persistent {
    color: #565A6E;
}

#workspaces button.focused {
    color: #bb9af7;
    border-bottom: 1px solid #bb9af7;
}

#workspaces button.urgent {
    color: #e0af68;
}
    
#battery,
#pulseaudio {
    margin: 4px 0px 2px 0px;
    color: #c8d3f5;
    padding: 0 6.5px;
}

#battery.warning {
   color: #ffc777;
}

#battery.critical {
    color: #ff757f;
}

#battery.charging {
    color: #c3e88d;
}

